body{
  background-color: #2E3A55;
}

.uperpar{
 justify-content: center;
  height: 100vh;
  display: flex;
  align-items: start;
  background: linear-gradient(130deg, #FF6F4B 50%, #2E3A55 50%);
  
 
}

.navbar {
  justify-content: space-between; /* Ensures space between brand and nav links */
 /* Centers items vertically */


}

.navbar-collapse {
  display: flex;
  justify-content: space-between; /* Ensures space between nav links and form */
 
  width: 100%; /* Ensures it takes full width */
 
}

.navbar-nav {
  margin-left: 20px ;/* This pushes .navbar-nav to the right */

}

.form-inline {
  margin-left: auto; /* This pushes form to the right */
}


.navbar-light .navbar-nav .nav-link{
    color: white; 
    font-family: Montserrat;
    font-size: 20px;
   justify-content: space-between;
   margin-left: auto;
  

}

.navbar-light .navbar-brand{
    color: white;
 
   font-family: Montserrat;
    font-size: 20px;
    font-weight: bold; 
}

.btn3{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #8D5CF6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  font-family: montserrat;
}

.btn3:hover{
  background-color: white;
  color:#8D5CF6;
}

.btn4{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #2E3A55 ;
  border: none;
  border-radius: 10px ;
  
  
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;

}
.btn4:hover{
  background-color: #2E3A55;
  color: white;
}
#sec2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 12rem;
 
  color: #fff;
}

.display-6 {
  font-size: 1.5rem;
}

h5 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn1 {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #8D5CF6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Montserrat;
}
.btn1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn2{
   
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:  #FF6F4B ;
    border: none;
    border-radius: 5px ;
    border: 2px solid white;
  font-family: Montserrat;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.btn2:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.img1{
  position: absolute;
  bottom: 6rem;
  left: 80rem;
  transform: translate(-50%, -50%); 

  padding: 10px 20px; 

  text-align: justify;
}



.cardframe{
 

position: absolute;
bottom: 1rem;
left: 50rem;
width: 70%;
}

.custom-card {
  background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin: 10px; 
            width: 250px;
            display: inline-block;
            vertical-align: top;
            
}

.custom-card:hover {
  transform: translateY(-5px); 
}



.custom-card-text {
  font-size: 1rem; 
  color: #666; 
  font-family: Montserrat; 
  text-align: start;
  padding-left: 10px;
}




.custom-card-link:hover {
  text-decoration: underline; /* Underline on hover */
}


.info h1 {
  color:#8D5CF6!important; 
}


.about{
padding-top: 10rem;
  padding-left: 20rem;
}

.about h1 {
  font-family: sans-serif;
  text-align: justify;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-family: Montserrat; 
  text-transform: uppercase;
  margin-right: 25px;
}

.about p {
  text-align: start;
  font-size: 20px;
  color: #d1d1d1;
  margin-top: 20px;
  margin-right:25px ;
  font-family: Montserrat; 
}

.about h6{
  font-family: sans-serif;
  text-align: justify;
  font-size: 20px;
  color: #8D5CF6;
  margin-top: 35px;
  font-family: Montserrat; 
  margin-right: 25px;
}



.img2{
  padding-left: 5rem;
  padding-bottom: 5rem;
  
}
.maincontant{
  padding-bottom: 40px;
}
.maincontant h6{
color: #8D5CF6;
}

.maincontant h2{
  text-align: start;
  font-size: 40px;
  font-weight: bold;
  color: #d1d1d1;
  margin-top: 10px;
  margin-right:25px ;
  font-family: Montserrat; 
}
.maincontant p{
  text-align: start;
  font-size: 14px;
  color: #d1d1d1;
  margin-bottom: 30px;
  margin-right:25px ;
  font-family: Montserrat; 
}

.maincard1:hover{
  transform: translateY(-5px);
}

.card h6{
  color: #8D5CF6;
  font-weight: bold;
  padding-bottom: 5px;
}

.card h5{
  color: #2E3A55;
  font-family: Montserrat; 
  font-weight: bold;
}

.card p{
  font-family: Montserrat;
  color: #737373;
}
.btn5{
  padding: 10px 20px;
  
  font-size: 16px;
  color: #8D5CF6;
  background-color:  white;
  border: none;
  border-radius: 25px ;
  border: 2px solid #8D5CF6;
  
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  font-family: Montserrat;
}

.btn5:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn6{
  padding: 10px 20px;
  
  font-size: 16px;
  color: white;
  background-color: #8D5CF6;
  border: none;
  font-size: 24px;
  border: 2px solid #8D5CF6;
  
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  font-family: Montserrat;
  margin-bottom: 1em;
}

.btn6:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card2 h6{
 color: #8EC2F2;
 font-size: bold;
 padding-bottom: 1em;
}
.card2 h2{
  color: #8D5CF6;
  padding-bottom: 10px;
}
.card2 h3{
  color: #2E3A55;
  padding-bottom: 1em;
}

.card p{
  color: #666;
  padding-bottom: 1em;
}
.card-subtitle{
  color: #666;
  padding-bottom: 1em;
}
.card3{
  margin-left: 1em;
}
.card3 .card-1{
  color: #2E3A55;
  font-weight: 700;
}

.img3{
  width: 150px;
}

.c-about p{
 text-align: center;
 color: #737373;
 font-weight: 400;
 font-family: Montserrat;
 padding-top: 35px;
}

.c-about h5{
  font-size: Montserrat;
  font-weight:700 ;
  color: #2E3A55;
}

.c-about h6{
  color: #737373;
  font-weight: 700;
  font-family: Montserrat;
}

.sub{

}

.sub {

  padding-top: 20px;
  padding-left: 21em;
}
  .sub h6{
color: #8D5CF6;
padding-left: 8em;
  }
  
  .sub h2{
    text-align: start;
    font-size: 40px;
    font-weight: bold;
    color: #d1d1d1;
    margin-top: 10px;
    margin-right:25px ;
    font-family: Montserrat; 
  }
  .sub p{
    text-align: start;
    font-size: 14px;
    color: #d1d1d1;
    margin-bottom: 30px;
    margin-right:25px ;
    font-family: Montserrat; 
    text-align:  justify;
  }
  

  .container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
   
  }
  
  .form {
    
    margin-bottom: 40rem;
    border-radius: 5px;
    text-align: center;
    margin-left: 35rem;
    width: 800px;
    height: 58px;
  }
  
  .input-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
  }
  
  .form input[type="email"] {
    flex: 1;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .form button {
    background-color: #8D5CF6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  footer {
    background-color: #2E3A55;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
  }

  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-column ul {
    list-style-type: none;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }

  .footer-column ul li a:hover {
    text-decoration: underline;
  }

  .footer-column p {
    margin-bottom: 10px;
  }

  .container-bottom .social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    color: #2E3A55;
  }

  .social-icons a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
  }

 .container-bottom{
  background-color: white;
  width: 100%;
  height: 50px;
 }

 .container-bottom p{
  color: #2E3A55;
 }